#bag{
    margin-right: 10%;
    margin-left: 10%;
    
  
    width: 80%;
    min-width: 450px;
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
    overflow: auto;
}

.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
    margin: 1em auto;
    max-width: 900px;
    
  }
  
.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    /* width: 100%; */
}

#bag h1{
    padding: 1%
}

/* Masonry on large screens */
@media only screen and (min-width: 1500px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .masonry {
      column-count: 3;
      
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 1200px) and (min-width:750px) {
    .masonry {
      column-count: 2;
    }
  }

   /* Masonry on small screens */
   @media only screen and (max-width: 750px) and (min-width: 300px) {
    .masonry {
      column-count: 1;
    }
  }