#user-profile{
    width: 590px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: 100px;
  
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
  }

  .profile-picture {
    float: left;
    height: 190px;
    width: 190px;
    background-color: rgb(21, 52, 90);
    border-radius: 50%;
    margin-left: 5%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    /* background-image: url("tomo-trans-logo.png"); */
  }
  
  #edit-user-profile {
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  
    padding: 20px;
    border-radius: 15px;
    margin-top: 70px;
    text-align: center;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
  }
  
  #edit-user-form {
    height: 40%;
  }
  
  #profile-text-container {
    width: 55%;
    float: right;
    margin: 20px 0;
    margin-right: 5%;
  }
  

#write-button, #edit-profile-button, #profile-save-button, #profile-cancel-button {
    background-color: rgb(60, 116, 180);
    border-color: rgb(60, 116, 180);
  }
  
  #profile-cancel-button {
    margin-right: 30%;
    float: right;
  }
  
  #profile-save-button {
    margin-left: 30%;
    float: left;
  }
  
  #profile-save-button, #profile-cancel-button {
    margin-top: 20px;
  }
  
  .edit-label {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .edit-input {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  @media only screen and (max-device-width: 480px) {
    #user-profile {
        margin-top: 50px;
        min-width: 330px;
        width: 90%;
        height: 450px;
    }

    #profile-text-container {
      float: center;
      text-align: left;
      width: 90%;
    }

    div.profile-picture {
      float: center;
      margin: 0 18%;
    }

    #edit-profile-button {
      width: 100%;
    }

    #edit-user-profile {
      margin-top: 50px;
      min-width: 330px;
      width: 90%;
      height: 400px;
    }

    #profile-save-button, #profile-cancel-button {
      float: none;
      width: 90%;
      margin: 0 5%;
      margin-top: 10px;
    }
  }