.logout {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
}

@media only screen and (max-device-width: 480px) {
    .logout {
        width: 90%;
    }

    .logout > h1 {
        font-size: 25px;
    }
  }