#signup-button {
    background-color: rgb(60, 116, 180);
    border-color: rgb(60, 116, 180);
}

#signup {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    border-radius: 15px;
    margin-top: 5%;
    text-align: center;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
}

.signup-label {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    text-align: left;
}
  
.signup-input {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.errorMessage{
    color: red;
}

@media only screen and (max-device-width: 480px) {
    #signup {
        margin-top: 50px;
        min-width: 330px;
        width: 90%;
        height: 460px;
    }

    #signup-button {
        width: 90%;
        margin: 10px 0;
    }
}