#write-fuzzies {
    width: 42%;
    display: inline-block;
    margin-left: 29%;
    margin-right: 29%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5%;
    text-align: center;
    background-color: #f0f6fc;
    border-style: solid;
    border-color: rgba(60, 116, 180, 0.5);
    border-width: 1px;
    color: rgb(78, 81, 84);
  }

  #select-div {
    margin-bottom: 30px;
  }
  

  #write-label {
    color: rgb(78, 81, 84);
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .fuzzies-forms {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  #filter-select {
    width: 30%;
    margin-bottom: 5px;
    float: right;
  }
  
  #recipient-select {
    width: 68%;
    float: left;
  }