body > div {
  background-color: rgb(60, 116, 180);
  background-position-y: 50px;
  width: 100%;
  height: 100vh;
  background-image: url('tomo-trans-logo.png');
  /* replace image with tomo mammoth shirt front */
}

.navbar-custom { 
  background-color: #f0f6fc;
  height: 50px;
  } 
  /* Modify brand and text color */ 
    
.navbar-custom .navbar-brand { 
  color: rgb(77, 77, 77);
  padding-left: 1%;
  padding-top: 10px;
}

.navbar-custom .navbar-collapse {
  float: right;
  padding-right: 1%;
  padding-top: 5px;
}

#profile-link {
  color: rgb(123, 126, 129);
}